@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');
@import "tailwindcss";

@theme {
  --font-pixel: "Jersey 25", sans-serif;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}